### Naver Rest API
- 파파고 번역 api
- 통합검색어 트렌드 api

In [17]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import requests, json

#### 0. request token 얻기
- `https://developers.naver.com`
- 1. Request Token 얻기 : 애플리케이션등록 -> app_key 획득
- 2. app_key를 이용해서 데이터 가져오기

In [9]:
client_id='9v32F5Dy1OZf3Edtn09Y'
secret = 'Mmue_MUuvS'

#### 1. 파파고 번역 api
- `https://developers.naver.com/docs/papago/`
- 사용법
    - `https://developers.naver.com/docs/papago/papago-nmt-api-reference.md`

In [19]:
# URL찾기 
url = 'https://openapi.naver.com/v1/papago/n2mt'
#requests > response(josn(str))
ko_txt='데이터 크롤링을 배우고 있어요'
params = {
    'source': 'ko',
    'target': 'en',
    'text': ko_txt,
}
params

{'source': 'ko', 'target': 'en', 'text': '데이터 크롤링을 배우고 있어요'}

In [20]:
headers = {
    'Content-Type' : 'application/json',
    'X-Naver-Client-Id' : client_id,
    'X-Naver-Client-Secret' : secret
}

In [21]:
response = requests.post(url, headers=headers)
response.text, response
# 400 오류 나옴

('{"errorCode":"-10001","errorMessage":"INVALID_REQUEST"}', <Response [400]>)

In [22]:
#params는 파이썬의 딕셔너리 객체임으로 dumps를 통해 json으로 변환하여 post로 넘겨준다. 
response = requests.post(url,json.dumps(params), headers=headers)
response

In [26]:
# 4. 함수로 만들기
def translate(msg):
    url = "https://openapi.naver.com/v1/papago/n2mt"
    params = { "source": "ko", "target": "en", "text": msg }
    headers = {
        "Content-Type": "application/json",
        "X-Naver-Client-Id": client_id,
        "X-Naver-Client-Secret": secret,
    }
    response = requests.post(url, json.dumps(params), headers=headers)
    return response.json()["message"]["result"]["translatedText"]

In [27]:
translate('안녕하세요')

'Hello'

In [28]:
# covid예제 

df = pd.read_excel('covid.xlsx')[['category', 'title']] 
df.tail(2)

   category                                title
4       104    "코로나 확진자 '0명'인 날은 절대 오지 않는다" 美전문가
5       104  올림픽 다가오는데 도쿄 코로나 확산 빨라져...일주일새 25％↑

In [30]:
en_title = df['title'].apply(translate)
en_title

0    SK Bioscience Submits Phase 3 Trial Plan for C...
1    41 cumulative confirmed cases of COVID-19 at t...
2    New COVID-19 infections, 542 people by 9 p.m. ...
3    A confirmed case of COVID-19 occurred at a clu...
4    "The day when there are '0' confirmed cases of...
5    As the Olympics are approaching, the spread of...
Name: title, dtype: object

In [31]:
df['en_title'] = en_title

In [32]:
df

,category,title,en_title
0,101,"SK바이오사이언스, 코로나19 백신 임상 3상 시험계획 제출",SK Bioscience Submits Phase 3 Trial Plan for C...
1,102,고양시 노래연습장 코로나19 누적확진 41명,41 cumulative confirmed cases of COVID-19 at t...
2,103,"코로나19 신규 감염, 28일 오후 9시까지 542명","New COVID-19 infections, 542 people by 9 p.m. ..."
3,103,프로야구 수도권 구단서 코로나19 확진자 발생,A confirmed case of COVID-19 occurred at a clu...
4,104,"""코로나 확진자 '0명'인 날은 절대 오지 않는다"" 美전문가","""The day when there are '0' confirmed cases of..."
5,104,올림픽 다가오는데 도쿄 코로나 확산 빨라져...일주일새 25％↑,"As the Olympics are approaching, the spread of..."

In [34]:
df.to_excel('en_covid.xlsx',index=False, encoding='utf-8-sig')

#### 2. 통합검색어 트렌드 api
- 서비스 : `https://datalab.naver.com/keyword/trendSearch.naver`
- 내 애플리케이션 > dss 애플리케이션 > API 설정 > 데이터랩(검색어 트렌드) 추가
- 사용법 : `https://developers.naver.com/docs/serviceapi/datalab/search/search.md#통합-검색어-트렌드`