# **단변량분석_숫자형변수**

<img src='https://github.com/DA4BAM/image/blob/main/%EB%8B%A8%EB%B3%80%EB%9F%89%EB%B6%84%EC%84%9D.png?raw=true' width=400/>

## **1.환경준비**

### **(1) 라이브러리 불러오기**

In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

### **(2) 데이터 로딩**

#### **1) titanic**
* url :  'https://raw.githubusercontent.com/DA4BAM/dataset/master/titanic_simple.csv'

**[titanic_simple 데이터 셋 정보]**

- PassengerId : 승객번호
- Survived : 생존여부(1:생존, 0:사망)
- Pclass : 객실등급(1:1등급, 2:2등급, 3:3등급)
- Name : 승객이름
- Sex : 성별(male, female)
- Age : 나이
- Fare : 운임($)
- Embarked : 승선지역(Southhampton, Cherbourg, Queenstown)

In [ ]:
path = 'https://raw.githubusercontent.com/DA4BAM/dataset/master/titanic_simple.csv'
titanic = pd.read_csv(path)
titanic.head()

#### **2) New York Air Quality**

* url : https://raw.githubusercontent.com/DA4BAM/dataset/master/air2.csv

**[airquality 데이터 셋 정보]**

- Ozone: 오존 농도  
- Solar.R: 태양복사량
- Wind: 풍속
- Temp: 기온
- Date : 연,월,일

In [ ]:
path = 'https://raw.githubusercontent.com/DA4BAM/dataset/master/air2.csv'
air = pd.read_csv(path)
air.head()

## **2.숫자형 변수**

### **(1) 수치화 : 대푯값**

#### **1) 평균(산술평균)**

In [ ]:
# 넘파이 함수 이용하기
np.mean(titanic['Fare'])

In [ ]:
# 판다스의 mean 메서드 이용하기
titanic['Fare'].mean()

#### **2) 중앙값(중위수, median)**

자료의 순서상 가운데 위치한 값

In [ ]:
# 넘파이 함수 이용하기
np.median(titanic['Fare'])

In [ ]:
# 판다스의 median 메서드 이용하기
titanic['Fare'].median()

#### **3) 최빈값**

* 자료 중에서 가장 빈번하게 나타나는 값(빈도가 높은 값)
* 이산형 데이터(셀 수 있는 데이터)

In [ ]:
# 판다스 메서드 이용하기
titanic['Pclass'].mode()

#### **4) 4분위수**

![](https://mblogthumb-phinf.pstatic.net/20150702_229/jevida_1435803723327eyeeG_PNG/3.png?type=w2)

In [ ]:
titanic['Fare'].describe()

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

연습문제를 풀어 봅시다.

In [ ]:
# titanic의 Age에 대해서 기초 통계량을 구해 봅시다.

### **(2) 수치화 : 기초통계량**

#### **1) 시리즈.describe()**

In [ ]:
titanic['Fare'].describe()

#### **2) 데이터프레임.describe()**

In [ ]:
titanic.head()

In [ ]:
# 데이터프레임의 숫자타입 변수들 기초통계량 조회
titanic.describe()

In [ ]:
# 데이터프레임의 전체 변수들 기초통계량 조회
titanic.describe(include='all')

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

air 데이터프레임에 대해서 기초 통계량을 구하고, 내용을 파악해 봅시다.

### **(3) 시각화**

#### **1) 히스토그램**

* 히스토그램 기본

In [ ]:
plt.hist(titanic.Fare, bins = 5, edgecolor = 'gray')
plt.xlabel('Fare')
plt.ylabel('Frequency')
plt.show()

* 구간의 갯수를 조정해 봅시다.

In [ ]:
plt.hist(titanic.Fare, bins = 30, edgecolor = 'gray')
plt.xlabel('Fare')
plt.ylabel('Frequency')
plt.show()

* sns.histplot

In [ ]:
sns.histplot(x= 'Fare', data = titanic, bins = 20)
plt.show()

* (추가)구간 값과 갯수를 확인해 봅시다.

    * 결과를 저장하면, 구간과 빈도수를 확인할 수 있습니다.
        * 히스토그램을 저장하면 튜플.
        * 튜플 안에는 넘파이 어레이가 2개로 구성됨.
        * 첫번째 넘파이 어레이는 빈도수,
        * 두번째는 구간 값.

In [ ]:
hist1 = plt.hist(titanic.Fare, bins = 5, edgecolor = 'gray')
plt.show()

print(hist1)
print(type(hist1))
print('-' * 50)
print('빈도수 : ', hist1[0])
print('구간값 : ', hist1[1])

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문제1] titanic의 Age에 칼럼에 대해 히스토그램을 그려 봅시다.
* bins = 8, 16, 32, 64

#### **2) 밀도함수 그래프(kde plot)**

* 히스토그램의 단점 
    * 구간(bin)의 너비를 어떻게 잡는지에 따라 전혀 다른 모양이 될 수 있음
>
* 밀도함수 그래프
    * 막대의 너비를 가정하지 않고 모든 점에서 데이터의 밀도를 추정하는 커널 밀도 추정(Kernel Density Estimation)방식을 사용하여 이러한 단점을 해결.
    * 밀도함수 그래프 아래 면적은 1

* 밀도함수 그래프 그리기

In [ ]:
sns.kdeplot(titanic['Fare'])
# sns.kdeplot(x='Fare', data = titanic)

plt.show()

* 밀도 추정
    * 측정된(관측된) 데이터로부터 전체 데이터 분포의 특성을 추정
    * 예를 들어… OO역 사거리 일일 교통량을 측정한다고 해 봅시다.
        * 어제는 1200대 차량이 통과했고, 오늘은 1420대, 내일은, 모레는…
        * 이렇게 3개월간 매일 측정했다고 할 때, 
        * 우리는 약 90일치의 데이터를 가지고 일일 교통량 분포를 히스토그램으로 그려볼 수 있습니다. 
        * 그리고 나서 특정한 날의 교통량이 얼마나 될지 확률로 나타냄.

<img src='https://github.com/DA4BAM/image/blob/main/%EB%B0%80%EB%8F%84%EC%B6%94%EC%A0%95.png?raw=true' width=800/>

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] titanic Age에 대해서 밀도함수 그래프를 그려봅시다.  

히스토그램과 어떤 차이가 있나요?

[문2] titanic Age에 대해서 히스토그램을 그려봅시다. 
* 단, 이번에는 sns.histplot 을 이용합니다.
* 옵션으로 kde = True 를 지정해 봅시다.

#### **3) boxplot**

**주의사항** : 값에 **NaN**이 있으면 그래프가 그려지지 않습니다.

* boxplot 기본

In [ ]:
# titanic['Age']에는 NaN이 있습니다. 이를 제외한 데이터
temp = titanic.loc[titanic['Age'].notnull()]

In [ ]:
plt.boxplot(temp['Age'])
plt.grid()
plt.show()

* 옆으로 그리기

In [ ]:
plt.boxplot(temp['Age'], vert = False)
plt.grid()
plt.show()

* sns.boxplot
    * seaborn 패키지 함수들은 NaN을 알아서 빼줍니다.

In [ ]:
sns.boxplot(x = titanic['Age'])
plt.grid()
plt.show()

In [ ]:
sns.boxplot(y = titanic['Age'])
plt.grid()
plt.show()

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] titanic의 Age와 Fare에 대해서 각각 박스 플롯을 그리고 해석해 봅시다.

#### **4) 시계열 데이터 시각화**

* 시계열 데이터는 보통 시간 축(x축)에 맞게 값들을 라인차트로 표현합니다.

In [ ]:
air['Date'] = pd.to_datetime(air['Date']) # 날짜 형식으로 변환

plt.plot('Date', 'Ozone', 'g-', data = air, label = 'Ozone')
plt.plot('Date', 'Temp', 'r-', data = air, label = 'Temp')

plt.xlabel('Date')
plt.legend()
plt.show()